#main-app {
    display: flex;
    height: 100%;

    user-select: none;
}

header {
    flex: 1 1 auto;
    padding: 0 40pt;
    text-align: center;
}

#config-panel {
    position: relative;

    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 10pt;

    width: 20vw;
    min-width: 200pt;
    height: 100%;

    z-index: 10;

    transition: margin-right 0.5s ease;
}

#config-toggle {
    position: absolute;
    top: 0;
    left: -40pt;

    color: white;
    background-color: rgba(0,0,0,0.5);
    font-size: 1.2em;

    border: none;
    border-radius: 0 0 0 10pt;

    width: 40pt;
    height: 40pt;
}

.config-option {
    display: flex;
    justify-content: space-evenly;

    width: 100%;

    text-align: center;
}

.config-option * {
    flex: 1 1 auto;
}

#edit-button {
    margin-top: 2em;
}

@media screen and (max-width: 900px) {
    #config-panel {
        position: absolute;
        transition: right 0.5s ease;

        background-color: #121212;
    }

    #config-toggle {
        background-color: #121212;
    }
}
