#main-app {
    display: flex;
    height: 100%;

    user-select: none;
}

header {
    flex: 1 1 auto;
    padding: 0 40pt;
    text-align: center;
}

#config-panel {
    position: relative;

    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 10pt;

    width: 20vw;
    min-width: 200pt;
    height: 100%;

    z-index: 10;

    transition: margin-right 0.5s ease;
}

#config-panel-content {
    width: 100%;
}

#config-toggle {
    position: absolute;
    top: 0;
    left: -40pt;

    color: white;
    background-color: rgba(0,0,0,0.5);
    font-size: 1.2em;

    border: none;
    border-radius: 0 0 0 10pt;

    width: 40pt;
    height: 40pt;
}

.config-option {
    display: flex;
    justify-content: space-evenly;

    width: 100%;

    text-align: center;
}

.config-option * {
    flex: 1 1 auto;
}

#edit-button {
    margin-top: 2em;
}

input[type=number] {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;

    min-width: 0;
    margin: 0 10pt;
    padding: auto;

    font-family: Saeada;
    font-size: 1.2em;
    text-align: center;
}

input[type=number]:focus {
    outline: 2px solid white;
}

#body-input {
    padding: 3pt;

    max-width: 20pt;
}

/* Remove arrows from number inputs */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}

/* Responsive */

@media screen and (max-width: 900px) {
    #config-panel {
        position: absolute;

        background-color: #121212;
        width: calc(100% - 20pt); /* remove padding from size */
        min-width: 0;

        transition: top 0.5s ease;
    }

    #config-panel-content {
        width: 100%;
        height: calc(40% - 40pt);
        overflow-x: scroll;
    }

    #config-toggle {
        background-color: #121212;
        border-radius: 0 10pt 0 0;

        left: 0;
        top: -40pt;
    }
}
