.armature-node {
    position: absolute;

    background-color: transparent;
    border: 5px solid #ffffff;
    border-radius: 100%;

    width: 14px;
    height: 14px;

    z-index: 5;
}

.armature-edit:hover {
    border-color: #ffaaaa;
}

.armature-selected, .armature-selected:hover {
    border-color: red;
}

.body-node {
    position: absolute;

    background-color: white;
    border-radius: 100%;
}

.creature-eye {
    position: absolute;

    background-color: white;
    border-radius: 100%;

    pointer-events: none;
    z-index: 3;
}

.creature-eye-pupil {
    background-color: black;
    z-index: 4;
}
