.armature-node {
    position: absolute;

    background-color: transparent;
    border: 5px solid #ffffff;
    border-radius: 100%;

    width: 14px;
    height: 14px;

    z-index: 5;
}

.armature-head {
    border-color: red;
}

.body-node {
    position: absolute;

    background-color: white;
    border-radius: 100%;
}
