:root {
    background-color: #242424;
    color: white;
}

#root {
    position: relative;
    overflow: hidden;
}

@font-face {
    font-family: TimKid;
    src: url("/TimKid.ttf");
}

@font-face {
    font-family: Saeada;
    src: url("/LTSaeada-Light.otf");
}

body {
    margin: 0;
    font-family: Saeada;
    letter-spacing: 1px;
}

h1, h2, button {
    font-family: TimKid;
}

button {
    padding: 8pt;
    font-size: 1.2em;
}
